<%- include ("partials/nav") %>

<div class="container listingdetails">
    <div class="row">
        
        <div class="col">
            <h5 class="card-title top-title">2750 Gregory Dr</h5>
            <img src="detailsimg1.jpg" class="card-img-top" alt="...">
            <br><br>
            <h5 class="card-title bottom-title">1.5M</h5>
            <p>5 Beds  -  5 Baths  -  3000 Sqft  -  Built 2015</p>
        </div>
        <div class="col">

            <p class="description">
                Enjoy the country living on this .53 acre mini estate and be only minutes from all amenities, ferries,
                the airport, and Fairview. Generously sized, this suite is in a concrete and steel, pet friendly, family
                building in a convenient downtown location. An ideal 5 bed, 5 bathroom home in a convenient village
                location. A majestic character home built at the turn of the century it was converted in 2007 with a
                very keen sense of style. Panoramic sea views from all major rooms. This beautiful home’s understated
                street presence is in perfect harmony with this tranquil neighbourhood.
            </p>
            <a href="/contactus" class="btn btn-primary">Contact Us About This Listings</a>
        </div>
    </div>
</div>