<%- include ("partials/nav") %>

<div class="container listing">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">2750 Gregory Dr</h5>
            <img src="house1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">2323 Edgewood Ave</h5>
            <img src="house2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">505 Hickory St</h5>
            <img src="house3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container listing">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">2750 Gregory Dr</h5>
            <img src="house1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">2323 Edgewood Ave</h5>
            <img src="house2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title top-title">505 Hickory St</h5>
            <img src="house3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title bottom-title">1.5M</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/listings-details" class="btn btn-primary">More Info</a>
            </div>
          </div>
      </div>
    </div>
  </div>